/* User.css */

.user-container {
    padding: 20px;
  }
  
  .user-title {
    margin-bottom: 20px;
    font-size: 39px;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px; /* Tambahkan radius ke tabel */
    overflow: hidden; /* Agar radius terlihat di bagian bawah */
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .user-table th {
    background-color: #8B4513;
  }
  